body {
    font-family: 'JetBrains Mono', serif;
    margin: 5% 20%;
}

div {
    display: block;
}

.resume-sample-box .title-resume {
    font-size: 1.4375rem;
}

.resume-sample-box {
    font-size: .8125rem;
}

.text-center {
     text-align: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.mlr-10px {
    margin: 0 10px;
}

.mb-30px, .my-30px {
    margin-bottom: 1.875rem!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.d-flex {
    display: flex!important;
}

.text-right {
    text-align: right!important;
}

.flex-grow-1 {
    flex-grow: 1!important;
}