@import-normalize;

@font-face {
    font-family: 'KyivTypeRegular';
    src: local('KyivTypeSans-Regular'), url(../src/fonts/KyivTypeSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'KyivTypeMedium';
    src: local('KyivTypeSans-Medium2'), url(../src/fonts/KyivTypeSans-Medium2.ttf) format('truetype');
}


* {
    box-sizing: border-box;
}

:root {
    /* Typography */
    --family: 'KyivTypeMedium', sans;
    --fs-sm: 12px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fw-normal: 300;
    --fw-bold: 600;

    /* Other */
    --gap-inner: 1rem;
}

/* Темізація через data-атрибути */
body[data-theme='dark'] {
    --color-default-text: hsl(0, 0%, 86%);
    --color-a-text: lightgoldenrodyellow;
    --color-important-text: hsl(48, 100%, 50%);
    --color-bg: hsl(207, 26%, 17%);
    --color-bg-block: hsla(207, 26%, 17%, 0.85);
    --color-hover-bg: hsl(206, 100%, 34%);
    --color-ui-base: hsl(209, 23%, 22%);
    --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;

    --bg-color: #202c37;
    --bg-image:
            linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
            linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
            linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
            linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
            linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077),
            linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
}
body[data-theme='light'] {
    --color-default-text: hsl(0, 0%, 15%);
    --color-a-text: black;
    --color-important-text: black;
    --color-bg: hsl(0, 0%, 98%);
    --color-bg-block: hsla(0, 0%, 98%, 0.85);
    --color-hover-bg: hsl(0, 0%, 75%);
    --color-ui-base: hsl(0, 0%, 100%);
    --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    --bg-image:
            linear-gradient(30deg, #e3e3e3 12%, transparent 12.5%, transparent 87%, #e3e3e3 87.5%, #e3e3e3),
            linear-gradient(150deg, #e3e3e3 12%, transparent 12.5%, transparent 87%, #e3e3e3 87.5%, #e3e3e3),
            linear-gradient(30deg, #e3e3e3 12%, transparent 12.5%, transparent 87%, #e3e3e3 87.5%, #e3e3e3),
            linear-gradient(150deg, #e3e3e3 12%, transparent 12.5%, transparent 87%, #e3e3e3 87.5%, #e3e3e3),
            linear-gradient(60deg, #e3e3e377 25%, transparent 25.5%, transparent 75%, #e3e3e377 75%, #e3e3e377),
            linear-gradient(60deg, #e3e3e377 25%, transparent 25.5%, transparent 75%, #e3e3e377 75%, #e3e3e377);
}

body {
    margin: 0;
    font-family: var(--family);
    color: var(--color-default-text);
    font-weight: var(--fw-normal);
    background-color: var(--bg-color);
}